

*  {
  box-sizing: border-box !important;
  font-family: Dosis, "Smooch Sans", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


.hover_effect:hover{
  background-color: #eee;
}

.hover_effect:active{
  background-color: #ddf;
}

@keyframes answer {
  50% {
    background-color: #8f8;
  }
}

.toolbar-draft-editor, .toolbar-draft-editor *{
  background: #666 !important;
  border-color: #555 !important;
  color: black !important;
}

.wrapper-draft-editor{
  margin-top: 40px;
}

.editor-draft-editor {
  border: 1px solid #bbb;
  max-height: 80vh;
  padding: 5px !important;
}

.my-menu{
  width: 0vw;
  transition: width 0.2s;
}
.my-menu-active{
  width: 60vw !important;
}

.quantity-options-cont:hover .quantity-options {
  display: block !important; 
}

.quantity-options-cont:hover .expandlessarrow {
  display: block !important; 
}

.quantity-options-cont:hover .expandmorearrow {
  display: none !important; 
}