

*  {
  box-sizing: border-box !important;
  font-family: Dosis, "Smooch Sans", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


.hover_effect:hover{
  background-color: #eee;
}

.hover_effect:active{
  background-color: #ddf;
}

@keyframes answer {
  50% {
    background-color: #8f8;
  }
}

.my-menu{
  width: 0vw;
  transition: width 0.2s;
}
.my-menu-active{
  width: 60vw !important;
}

.quantity-options-cont:hover .quantity-options {
  display: block !important; 
}

.side-bar{
  left: -100vw;
  opacity: 0;
  box-shadow: 1px 0 4px rgba(0,0,0,0.4);
  transition: 0.5s;
}

.side-bar-open{
  opacity: 1 !important;
  left: 0vw !important;
}

.overlay-gray {
  animation: overlay 0.5s end linear;
}

@keyframes overlay {
  100%{
    opacity: 0.6;
  }
}