

*  {
  box-sizing: border-box;
  font-family: Dosis, "Smooch Sans", sans-serif;
}
body {
  padding: 0;
  margin: 0;
}


.hover_effect:hover{
  background-color: #eee;
}

.hover_effect:active{
  background-color: #ddf;
}

@keyframes answer {
  50% {
    background-color: #8f8;
  }
}

.toolbar-class{
  background: black;
}

.wrapper-class{
  background: red;
}

.editor-class{
  background: green;
}